body {
   font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
   background-color:rgba(255,105,30,1);
}


#main-container {
   width: 750px;
   text-align: center;
}

div.grid {
   display: grid;
   grid-template-columns: repeat(16, 45px);
   grid-template-rows: repeat(16, 45px);
   margin: 5px 5px;
   }

.cell {
      border: 1px solid darkgrey;
    }

.cell-filled {
   background-color: black;
}


/*"Cool Buttons" CCS code found on CodePen: https://codepen.io/FelipeMarcos/pen/tfhEg*/
button {
   text-decoration: none;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
   background: rgba(255,105,30,1);
	background: linear-gradient(rgba(255,105,30,1) 0%, rgba(230,95,28,1) 100%);
}

button:hover {
   cursor: pointer;
}